.block-cta
    .btn:first-of-type
        --bs-btn-hover-bg: #F0F0F0
    &:last-of-type
        @include margin-top($global-spacing)
        background-color: transparent
        padding: 0
        .container > div
            @include padding($global-spacing)
            background-color: $gray-100
            border-radius: .5rem
            color: $black
            position: relative
            transition: background .3s ease, color .3s ease
            &:hover
                background-color: $light
                color: white
        .btn
            --bs-btn-border-radius: .5rem
            --bs-btn-color: white
            --bs-btn-bg: black
            @extend .stretched-link
            border: 0
