.block-editorial
    @include padding-bottom($global-spacing !important)
    @include padding-top($global-spacing !important)
    &:has(img[src$="svg"])
        padding-bottom: 0 !important
        padding-top: 0 !important
    
    img[src$="svg"]
        filter: invert(1)