.block-informations
    .item
        --bs-card-bg: transparent
        --bs-card-spacer-x: .5rem
        .media-image
            --bs-aspect-ratio: 100%
        .media-logo
            background: #222
    .name + p
        font-size: 1rem
