.block-selected
    .pages
        @extend .row-cols-md-3
        @extend .row-cols-xl-6
    .page
        --bs-card-spacer-x: 1rem
        --bs-card-spacer-y: 2rem
        .btn
            display: none
    .description
        margin-bottom: 0